@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {

    --color-greenBrand: #0F3526;
    --color-goldBrand:  #DAB763;
    --color-muted:      #A5B3AE;
    --color-beige:   #F1EEE7;
    --gradient-background:   linear-gradient(180deg, #F1EEE7 0%, #FFFFFF 100%);
    --font-noto: "Noto Serif", serif;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@utility animate-marquee {
    animation: marquee var(--marquee-speed, 20s) linear infinite;
    display: inline-flex;
}

@media (max-width: 768px) {
    :root {
        --marquee-speed: 12s;
    }
}


@utility btn-brand {
    @apply px-6 py-3 rounded-[50px] font-semibold transition-colors duration-300;
    background: var(--color-goldBrand);
    color: var(--color-greenBrand);

    &:hover {
        background: var(--color-greenBrand);
        color: var(--color-goldBrand);
    }
}

@utility hover {
    @apply transition-transform duration-300 hover:scale-110;
}